{% extends 'home/hiring.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/hiring.css' %}">
    <style>
        .MiddleList2{
            color: #2aabd2;
        }
    </style>
{% endblock %}

{% block div %}
    <div class="" style="height: auto;width: 100%;text-align: center;position: relative;">
        <div style="font-size: 20px;height: 40px;width: 910px;color:#0099FF;margin: 0 auto;text-align: left;  ">
            <span style="">建设专员2</span>
        </div>
        <div class="" style="">
            <img src="/static/base/images/zhixian.png">
        </div>
        <div class="" style="width: 910px;height: auto;text-align: left;margin: 0 auto;font-size: 19px;line-height: 30px">
            <p style="font-weight: 600;width: 85px;height: 30px;text-align: left;left: 0;position: relative">职位描述:</p>
            <ol type="1" style="width: 820px;height: auto;position: relative;left: 70px;top: -40px;text-align: left">
                <li>新开店内外装潢,准备施工设计图,施工说明等</li>
                <li>店铺卖场配置图施工图的立案</li>
                <li>内装,设备,用度品及发包工程的管理监工及验收</li>
                <li>新开门店全部费用预算结算管理能力</li>
                <li>政府部门洽谈施工相关业务管理.</li>
                <li>效果图绘制.</li>
            </ol>
            <p style="font-weight: 600;width: 85px;height: 30px;text-align: left;left: 0;position: relative">任职要求:</p>
            <ol type="1" style="width: 820px;height: auto;position: relative;left: 70px;top: -40px;text-align: left">
                <li>大专(含)以上学历,建设工程,室内装潢设计等相关经验;</li>
                <li>CAD制图熟练,有店铺装修,现场勘测者优先;</li>
            </ol>
        </div>

        <div style="font-size: 20px;height: 40px;width: 910px;color:#0099FF;margin: 0 auto;text-align: left;  ">
            <span style="">建设专员</span>
        </div>
        <div class="" style="">
            <img src="/static/base/images/zhixian.png">
        </div>
        <div class="" style="width: 910px;height: auto;text-align: left;margin: 0 auto;font-size: 19px;line-height: 30px">
            <p style="font-weight: 600;width: 85px;height: 30px;text-align: left;left: 0;position: relative">职位描述:</p>
            <ol type="1" style="width: 820px;height: auto;position: relative;left: 70px;top: -40px;text-align: left">
                <li>新开店内外装潢,准备施工设计图,施工说明等</li>
                <li>店铺卖场配置图施工图的立案</li>
                <li>内装,设备,用度品及发包工程的管理监工及验收</li>
                <li>新开门店全部费用预算结算管理能力</li>
                <li>政府部门洽谈施工相关业务管理.</li>
                <li>效果图绘制.</li>
            </ol>
            <p style="font-weight: 600;width: 85px;height: 30px;text-align: left;left: 0;position: relative">任职要求:</p>
            <ol type="1" style="width: 820px;height: auto;position: relative;left: 70px;top: -40px;text-align: left">
                <li>大专(含)以上学历,建设工程,室内装潢设计等相关经验;</li>
                <li>CAD制图熟练,有店铺装修,现场勘测者优先;</li>
            </ol>
        </div>

    </div>
{% endblock %}

{% block js %}
{% endblock %}