{% extends 'base/base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <style>
        .navlist1{
            color: green;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="onpure-box" style="height:100px;width: 200px;margin: 0 auto;text-align: center;background: white;position: relative">
            <p class="onpure" style="position: absolute;
                                       top: 60px;
                                       left: 50%;
                                       width: 400px;
                                       margin-left: -200px;
                                       margin-top: 0;
                                       z-index: 1;
                                       font-size: 21px">
                <span class="onpure-title" style="background: white;padding:0px 10px">关于24鲜</span>
            </p>
                <span class="line" style="display: inline-block;
				width: 400px;
				border: 1px solid gainsboro;
				position: absolute;
				top: 70px;
				left: 50%;
                margin-left: -200px;
		        "></span>
        </div>
        <div class="onpure-box" style="height:80px;width: 200px;margin: 0 auto;text-align: center;position: relative">
            <div class="" style="top: 20px;position: relative">
                <img src="/static/base/images/log.jpg">
            </div>
        </div>
        <div class="onpure-box" style="height:50px;width: 250px;margin: 0 auto;text-align: center;position: relative">
            <p class="onpure-title" style="padding:0 10px;font-size: 21px">上海乐店商贸有限公司</p>
        </div>
        <div class="content-text" style="height:150px;width: 786px;margin: 0 auto;text-align: left;position: relative">
            <p class="onpure-title" style="padding:0 10px;line-height: 30px;font-size: 21px">&nbsp;&nbsp;&nbsp;&nbsp;是一家以众包微物流即食配送为核心模式,&nbsp;基于线上移动端定位,&nbsp;线下前置仓布点的O2O即食便利餐饮连锁,&nbsp;于2017年5月上线,&nbsp;专注于消费者购物的最后一公里配送<br>,&nbsp;主打线下实体+线上一个小时闪电送达.&nbsp;公司成立以来,&nbsp;已经在上海的16区中的14个区业务上线.
            </p>
        </div>
        <div class="onpure-box" style="height:200px;width: 786px;margin: 0 auto;text-align: center;background: white;position: relative">

                <div class="boxss" style="height: 200px;width: 80px;float: left;">
                    <div class="img-min" style="position: relative">
                        <img src="/static/base/images/min1.png" width="80px" height="80px">
                        <p class="wenzi" style="top: 10px;position: relative;font: 21px/21px '微软雅黑';line-height: 20px ">食品</p>
                    </div>
                </div>
                <div class="img-xian" style="height: 80px;width: 155px;float: left; ">
                    <div class="" style="display: inline-block;border-bottom: 2px solid gainsboro;top: 30px;position: relative;width: 120px;text-align: center;">
                    </div>
                </div>
                <div class="boxss" style="height: 200px;width: 80px;float: left;">
                    <div class="img-min" style="">
                        <img src="/static/base/images/min2.png" width="80px" height="80px">
                        <p class="wenzi" style="top: 10px;position: relative;font: 21px/21px '微软雅黑';line-height: 20px ">鲜食</p>
                    </div>

                </div>
                <div class="img-xian" style="height: 80px;width: 155px;float: left ">
                    <div class="" style="display: inline-block;border-bottom: 2px solid gainsboro;top: 30px;position: relative;width: 120px;text-align: center;">
                    </div>
                </div>
                <div class="boxss" style="height: 200px;width: 80px;float: left;">
                    <div class="img-min" style="">
                        <img src="/static/base/images/min3.png" width="80px" height="80px">
                        <p class="wenzi" style="top: 10px;position: relative;font: 21px/21px '微软雅黑';line-height: 20px ">水果</p>
                    </div>
                   </div>
                <div class="img-xian" style="height: 80px;width: 155px;float: left ">
                    <div class="" style="display: inline-block;border-bottom: 2px solid gainsboro;top: 30px;position: relative;width: 120px;text-align: center;">
                    </div>
                </div>
                <div class="boxss" style="height: 200px;width: 80px;float: left;">
                    <div class="img-min" style="">
                        <img src="/static/base/images/min4.png" width="80px" height="80px">
                        <p class="wenzi" style="top: 10px;position: relative;font: 21px/21px '微软雅黑';line-height: 20px ">日用</p>
                    </div>
                   </div>
        </div>
        <div class="onpure-box" style="height:80px;width: 200px;margin: 0 auto;text-align: center;background: white;position: relative">
            <p class="onpure" style="position: absolute;
                                        top: 5px;
                                        left: 50%;
                                        width: 400px;
                                        margin-left: -200px;
                                        margin-top: 0;
                                        z-index: 1;
                                        font-size: 21px">
                <span class="onpure-title" style="background: white;padding:0px 10px">商业模式</span>
            </p>
                <span class="line" style="display: inline-block;
				width: 400px;
				border: 1px solid gainsboro;
				position: absolute;
				top: 20px;
				left: 50%;
                margin-left: -200px;
		        "></span>
        </div>
        <div class="content-text" style="height:220px;width: 648px;margin: 0 auto;text-align: center;position: relative">
            <div class="boxss" style="height: 200px;width: 215px;float: left;">
                <div class="img-min" style="">
                    <img src="/static/base/images/max1.png" width="120px" height="150px">
                </div>
            </div>
            <div class="boxss" style="height: 200px;width: 215px;float: left;">
                <div class="img-min" style="">
                    <img src="/static/base/images/max2.png" width="120px" height="150px">
                </div>
            </div>
            <div class="boxss" style="height: 200px;width: 215px;float: left;">
                <div class="img-min" style="">
                    <img src="/static/base/images/max3.png" width="120px" height="150px">
                </div>
            </div>


        </div>
        <div class="content-text" style="height:200px;width: 647px;margin: 0 auto;text-align: left;position: relative">

            <p class="" style="line-height: 20px;text-align: center;font-size: 21px">线上的微信外卖,&nbsp;利用会员积分制的差异性促进顾客消费</p>
            <p class="" style="line-height: 30px;text-align: left;font-size: 21px">同时在门店内放置支付宝口碑自助收银,&nbsp;通过线下自助结账体验店与线上支付宝口碑结合让消费者享受更便捷的消费方式</p>
            <p class="" style="line-height: 20px; text-align: center;font-size: 21px">与饿了吗,美团,京东商城合作</p>

        </div>
        <div class="onpure-box" style="height:80px;width: 200px;margin: 0 auto;text-align: center;background: white;position: relative">
            <p class="onpure" style="position: absolute;
                                        top: 10px;
                                        left: 50%;
                                        width: 400px;
                                        margin-left: -200px;
                                        margin-top: 0;
                                        z-index: 1;
                                        font-size: 21px">
                <span class="onpure-title" style="background: white;padding:0px 10px">自助收银</span>
            </p>
                <span class="line" style="display: inline-block;
				width: 400px;
				border: 1px solid gainsboro;
				position: absolute;
				top: 20px;
				left: 50%;
                margin-left: -200px;
		        "></span>
        </div>
        <div class="content-text" style="height:400px;width: 960px;margin: 0 auto;text-align: center;position: relative">
            <div class="boxss" style="height: 220px;width: 240px;float: left;">
                <div class="img-min" style="">
                    <img src="/static/base/images/weixin1.png" width="140px" height="280px">
                </div>
            </div>
            <div class="boxss" style="height: 220px;width: 240px;float: left;">
                <div class="img-min" style="">
                    <img src="/static/base/images/weixin2.png" width="140px" height="280px">
                </div>
            </div>
            <div class="boxss" style="height: 220px;width: 240px;float: left;">
                <div class="img-min" style="">
                    <img src="/static/base/images/weixin3.png" width="140px" height="280px">
                </div>
            </div>
            <div class="boxss" style="height: 220px;width: 240px;float: left;">
                <div class="img-min" style="">
                    <img src="/static/base/images/weixin4.png" width="140px" height="280px">
                </div>
            </div>

        </div>
    </div>
{% endblock %}