/*页面整体*/
.box{
    width: 1349px;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
}
/*页眉整体*/
nav{
    text-align: center;
    width: 100%;
    height: 50px;
}
.header{
    width: 100%;
    height: 400px;
    position: relative;
}
/*页脚整体*/
footer{
    clear: both;
    width: 100%;
    height: 220px;
    bottom: 40px;
    margin-top: 0px;
    background-color: #09F;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    display: block;
    position: relative;
}

.footer-cell{
    width: 40%;
    height: 140px;
    margin: 10px 33px 0;
    float: left;
    padding: 0;
    display: inline;
    position: relative;
}
.ul1{
    width: 100%;
    height: 40px;
    display: block;
    float: left;
}
/*页眉*/
.ul1 li{
	width: 150px;
    height: 40px;
    /*inline-block：内联块级元素，自左向右展示宽高有效*/
    display: inline-block;
    /*文字大小*/
    font-size: 18px;
    /*文字对齐方式：水平方向*/
    text-align: center;
    /*设置文字行高：可以做到垂直居中*/
    line-height: 20px;
    margin: 20px auto;
}
/*页脚标题文字大小*/
.text-title{
    font-size: 18px;

}
/*设置所有a标签高和颜色*/
ul li a{
    height: 30px;
    line-height: 30px;
    color: #0f0f0f;
}
ul li p{
    height: 20px;
    line-height: 20px;
    color: #0f0f0f;
}
.copyRight {
    width: 100%;
    height: 20px;
    text-align: center;
    bottom: 10px;
    position: absolute;
}
/*鼠标悬浮时的样式*/
a:hover {
color:green;
text-decoration:none;
}
/*鼠标点击时的样式*/
a:active {
color:darkgreen;
text-decoration:none;
}
